@charset "UTF-8";
.car_alert_awardAll li, .car_alert_award_list a {
  font-family: -apple-system, Helvetica, sans-serif; }

.car_alert_awardAll::-webkit-scrollbar, .car_alert_award_list::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; }

html {
  font-size: 20px;
  font-size: 5.33333vw; }
  @media screen and (max-width: 320px) {
    html {
      font-size: 17.06667px; } }
  @media screen and (min-width: 540px) {
    html {
      font-size: 28.8px; } }

body {
  max-width: 640px; }

/* 游戏页
---------------------------------------- */
.car_time {
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
  margin-top: 0.25rem; }
  .car_time i {
    position: relative;
    top: 0.3rem;
    left: 0.5rem;
    font-size: 1.2rem; }

.car_music {
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  width: 2.15rem;
  height: 1.55rem;
  background: url("images/car_music@2x.png") no-repeat;
  background-size: 100% 100%; }
  .car_music.cur {
    width: 2.15rem;
    height: 1.55rem;
    background: url("images/car_music_on@2x.png") no-repeat;
    background-size: 100% 100%; }

/* 弹窗
---------------------------------------- */
.car_alert {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 101; }
  .car_alert_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17.2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    height: auto;
    background: url("images/car_alert_bg@2x.png") no-repeat;
    background-size: 100% 100%; }
  .car_alert_close {
    width: 2.35rem;
    height: 2.4rem;
    background: url("images/car_close@2x.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -0.4rem; }
  .car_alert_btn {
    margin: 0.5rem auto 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
    width: 10.5rem;
    height: 2rem;
    background: url("images/car_btn@2x.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 0.8rem;
    line-height: 2.1rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .car_alert_orabtn {
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin: 0.75rem auto 0;
    width: 10.5rem;
    height: 2rem;
    background: url("images/car_btn_orange@2x.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 0.8rem;
    line-height: 2.1rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .car_alert_content {
    width: 12rem;
    margin: 2rem auto 1.5rem;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    text-shadow: #000 1px 0px 0, #000 0 2px 0, #000 -1px 0 0, #000 -1px -1px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
    .car_alert_content i {
      margin: 0 0.2rem;
      font-size: 1.5rem;
      color: #dc511b; }
  .car_alert_lnk {
    display: block;
    text-decoration: underline;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.7rem;
    color: #000;
    margin-top: 0.5rem;
    padding: 0 1rem; }
  .car_alert_coupon {
    position: relative;
    width: 8.1rem;
    height: 3.85rem;
    margin: 0 auto 1.5rem;
    background: url("images/car_coupon@2x.png") no-repeat;
    background-size: 100% 100%; }
    .car_alert_coupon_pri {
      width: 6.35rem;
      color: #fff;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .car_alert_coupon_pri dd {
        padding: 0 0.5rem;
        font-size: 1.6rem;
        box-sizing: border-box;
        margin: 0.25rem 0 -0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .car_alert_coupon_pri dd i {
          font-size: 0.9rem;
          font-family: Arial; }
      .car_alert_coupon_pri dt {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 0.5rem;
        font-size: 0.7rem;
        box-sizing: border-box; }
    .car_alert_coupon_use {
      width: 1rem;
      position: absolute;
      right: 0.6rem;
      top: 0.65rem;
      color: #fff;
      font-size: 0.7rem;
      display: inline-block;
      box-sizing: border-box;
      white-space: normal;
      line-height: 0.9rem;
      text-align: center; }
  .car_alert_entity {
    position: relative;
    height: 5.2rem;
    width: 5.2rem;
    margin: 0 auto 0.5rem; }
    .car_alert_entity img {
      display: block;
      width: 5rem;
      height: 5rem;
      border: 0.1rem solid #333; }
  .car_alert_awardAll {
    position: relative;
    height: 5.1rem;
    margin: 0 0 1.5rem 1.5rem;
    width: 14.5rem;
    font-size: 0;
    font-family: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-x: auto; }
    .car_alert_awardAll li {
      display: inline-block;
      vertical-align: top; }
    .car_alert_awardAll img {
      position: absolute;
      left: 1.25rem;
      display: block;
      width: 5rem;
      height: 5rem;
      border: 2px solid #333; }
    .car_alert_awardAll_coupon {
      position: relative;
      margin-right: 0.5rem;
      width: 8.1rem;
      height: 3.85rem;
      background: url("images/car_coupon@2x.png") no-repeat;
      background-size: 100% 100%; }
  .car_alert_award {
    padding: 0 1.25rem;
    margin-top: 1rem; }
    .car_alert_award_tit {
      text-align: center;
      color: #fff;
      font-size: 0.7rem;
      background: url("images/car_alert_award@2x.png");
      background-size: 100% 100%;
      margin: 0.5rem 0;
      height: 1.5rem;
      line-height: 1.5rem; }
    .car_alert_award_list {
      font-size: 0;
      font-family: none;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      overflow: hidden;
      overflow-x: auto; }
      .car_alert_award_list a {
        display: inline-block;
        vertical-align: top; }
    .car_alert_award_item img {
      width: 3rem;
      height: 3rem;
      border: 2px solid #333;
      margin-right: 0.25rem; }

.car_chose_tit {
  margin: 1.9rem auto 0.75rem;
  font-size: 1rem;
  color: #523131;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.car_chose_item {
  color: #fff; }
.car_chose_role {
  width: 14rem;
  height: 4.85rem;
  margin: 0.15rem auto;
  padding: 1.2rem 0 1.2rem 6.5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .car_chose_role_name {
    width: 7rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .car_chose_role_des {
    width: 7rem;
    font-size: 0.6rem;
    margin-top: 0.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .car_chose_role:nth-child(1) {
    background: url("images/car_rolebg_lb@2x.png") no-repeat;
    background-size: 100% 100%; }
  .car_chose_role:nth-child(2) {
    background: url("images/car_rolebg_gy@2x.png") no-repeat;
    background-size: 100% 100%; }
  .car_chose_role:nth-child(3) {
    background: url("images/car_rolebg_zf@2x.png") no-repeat;
    background-size: 100% 100%; }

.car_guide_tip {
  position: absolute;
  right: 0.5rem;
  top: 4.5rem;
  font-size: 0.8rem;
  text-align: center;
  width: 9.5rem;
  height: 2.5rem;
  background: url("images/car_guide_dia@2x.png") no-repeat;
  background-size: 100% 100%;
  line-height: 3rem;
  color: #fff;
  padding: 0 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.car_guide_countdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #ffbf36;
  text-align: center; }
.car_guide_hand {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .car_guide_hand_icon {
    width: 2.9rem;
    height: 2.9rem;
    background: url("images/car_guide_hand@2x.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 0.4rem; }
  .car_guide_hand_con {
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
.car_guide_props {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.5rem;
  color: #fff;
  font-size: 0.6rem;
  box-sizing: border-box; }
  .car_guide_props li {
    position: relative;
    padding-left: 2.5rem;
    height: 2.25rem;
    line-height: 2.25rem; }
    .car_guide_props li span {
      position: absolute;
      left: 0; }
  .car_guide_props_quick span {
    display: inline-block;
    width: 2.45rem;
    height: 3.2rem;
    transform: scale(0.5);
    background: url("images/car_prop2_tyre@2x.png") no-repeat;
    background-size: 100% 100%;
    top: -0.5rem; }
  .car_guide_props_quick i {
    color: #129979; }
  .car_guide_props_slow span {
    display: inline-block;
    width: 2.45rem;
    height: 2.3rem;
    transform: scale(0.5);
    background: url("images/car_prop1_stone@2x.png") no-repeat;
    background-size: 100% 100%;
    top: -0.15rem; }
  .car_guide_props_slow i {
    color: #ff3f63; }
  .car_guide_props_bomb span {
    display: inline-block;
    width: 2.7rem;
    height: 3.85rem;
    transform: scale(0.5);
    background: url("images/car_prop3_bomb@2x.png") no-repeat;
    background-size: 100% 100%;
    top: -1.1rem; }
  .car_guide_props_bomb i {
    color: #ff3f63; }

/* 游戏画布
---------------------------------------- */
.car_gameView {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  max-width: 640px; }

.hide {
  display: none; }

.car_guide_tips {
  position: absolute;
  right: 0.5rem;
  top: 6.5rem;
  font-size: 0.8rem;
  text-align: center;
  width: 9.5rem;
  height: 2.5rem;
  background: url("images/car_guide_dia@2x.png") no-repeat;
  background-size: 100% 100%;
  line-height: 3rem;
  color: #fff;
  padding: 0 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*# sourceMappingURL=index.css.map */
