@mixin rem_query($width: 375) {
	$vw_base: $width;
	$vw_fontsize: 20;
	html {
		font-size: 20px;
		font-size: ($vw_fontsize / $vw_base) * 100vw;
		@media screen and (max-width: 320px) {
			font-size: ($vw_fontsize / $vw_base) * 320px;
		}
		@media screen and (min-width: 540px) {
			font-size: ($vw_fontsize / $vw_base) * 540px;
		}
	}
}

$rem_grid: 20 !default;
@function rem($val){
	$rem : $val / $rem_grid;
	@if $rem == 0 {
		@return #{$rem} ;
	}@else{
		@return $rem / ($rem * 0 + 1) * 1rem; // 带不带px单位都支持
	}
}

%oneline {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%twoline {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin scroll($orientation: '', $scrollbar: '') {
	-webkit-overflow-scrolling: touch;
	@if ($orientation == '') {
		overflow: auto;
	}
	@else {
		overflow: hidden;
		overflow-#{$orientation}: auto;
	}
	@if $scrollbar == none {
		@extend %scrollbar_none;
	}
}

%font_default {
	font-family: -apple-system, Helvetica, sans-serif;
}

%scrollbar_none {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}
}
@mixin scrollbox($dom, $scrollbar: 'default') {
	font-size: 0;
	font-family: none;
	@if ($scrollbar == 'default') or ($scrollbar == 'none') {
		white-space: nowrap;
		@include scroll('x', 'none');
	}
	@else if ($scrollbar == 'normal') {
		white-space: normal;
	}
	@else if ($scrollbar == 'noscroll') {
		white-space: nowrap;
	}
	#{$dom} {
		display: inline-block;
		vertical-align: top;
		@extend %font_default;
	}
}
@mixin line($num: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	@if ($num == 1) {
		white-space: nowrap;
	}
	@else {
		display: -webkit-box;
		-webkit-line-clamp: $num;
		-webkit-box-orient: vertical;
	}
}

@include rem_query;

body {
	max-width: 640px;
}


/* 游戏页
---------------------------------------- */
//剩余时间
.car_time {
	font-size: rem(14);
	color: #fff;
	text-align: center;
	margin-top: rem(5);
	
	i {
		position: relative;
		top: rem(6);
		left: rem(10);
		font-size: rem(24);
	}
}

.car_music {
	position: absolute;
	top: rem(200/2);
	right: rem(10);
	width: rem(86/2);
	height: rem(62/2);
	background: url("images/car_music@2x.png") no-repeat;
	background-size: 100% 100%;
	
	&.cur {
		width: rem(86/2);
		height: rem(62/2);
		background: url("images/car_music_on@2x.png") no-repeat;
		background-size: 100% 100%;
	}
}

/* 弹窗
---------------------------------------- */
.car_alert {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(0, 0, 0, .8);
	z-index: 101;
	
	&_wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(688/2);
		padding-bottom: rem(40);
		box-sizing: border-box;
		height: auto;
		background: url("images/car_alert_bg@2x.png") no-repeat;
		background-size: 100% 100%;
	}
	
	&_close {
		width: rem(94/2);
		height: rem(96/2);
		background: url("images/car_close@2x.png") no-repeat;
		background-size: 100% 100%;
		position: absolute;
		right: 0;
		top: rem(-8);
	}
	
	&_btn {
		margin: rem(10) auto 0;
		padding: 0 rem(10);
		box-sizing: border-box;
		width: rem(420/2);
		height: rem(80/2);
		background: url("images/car_btn@2x.png") no-repeat;
		background-size: 100% 100%;
		text-align: center;
		font-size: rem(16);
		line-height: rem(42);
		color: #fff;
		@include line;
	}
	&_orabtn {
		padding: 0 rem(10);
		box-sizing: border-box;
		margin: rem(15) auto 0;
		width: rem(420/2);
		height: rem(80/2);
		background: url("images/car_btn_orange@2x.png") no-repeat;
		background-size: 100% 100%;
		text-align: center;
		font-size: rem(16);
		line-height: rem(42);
		color: #fff;
		@include line;
	}
	
	&_content {
		width: rem(480/2);
		margin: rem(40) auto rem(30);
		font-size: rem(18);
		color: #fff;
		text-align: center;
		text-shadow: #000 1px 0px 0, #000 0 2px 0, #000 -1px 0 0, #000 -1px -1px 0;
		@include line(2);
		
		i {
			margin: 0 rem(4);
			font-size: rem(30);
			color: #dc511b;
		}
	}
	
	&_lnk {
		display: block;
		text-decoration: underline;
		text-align: center;
		@include line;
		font-size: rem(14);
		color: #000;
		margin-top: rem(10);
		padding: 0 rem(20);
	}
	
	&_coupon {
		position: relative;
		width: rem(324/2);
		height: rem(154/2);
		margin: 0 auto rem(30);
		background: url("images/car_coupon@2x.png") no-repeat;
		background-size: 100% 100%;
		
		&_pri {
			width: rem(254/2);
			color: #fff;
			text-align: center;
			@include line;
			
			dd {
				padding: 0 rem(10);
				font-size: rem(64/2);
				box-sizing: border-box;
				margin: rem(5) 0 rem(-5);
				@include line;
				
				i {
					font-size: rem(18);
					font-family: Arial;
				}
			}
			
			dt {
				@include line;
				padding: 0 rem(10);
				font-size: rem(14);
				box-sizing: border-box;
			}
		}
		
		&_use {
			width: rem(20);
			position: absolute;
			right: rem(12);
			top: rem(13);
			color: #fff;
			font-size: rem(14);
			display: inline-block;
			box-sizing: border-box;
			white-space: normal;
			line-height: rem(18);
			text-align: center;
		}
	}
	
	&_entity {
		position: relative;
		height: rem(104);
		width: rem(104);
		margin: 0 auto rem(10);
		
		img {
			display: block;
			width: rem(100);
			height: rem(100);
			border: rem(2) solid #333;
		}
		
	}
	
	&_awardAll {
		position: relative;
		height: rem(102);
		margin: 0 0 rem(30) rem(30);
		width: rem(290);
		@include scrollbox('li');
		
		img {
			position: absolute;
			left: rem(25);
			display: block;
			width: rem(100);
			height: rem(100);
			border: 2px solid #333;
		}
		&_coupon {
			position: relative;
			margin-right: rem(10);
			width: rem(324/2);
			height: rem(154/2);
			background: url("images/car_coupon@2x.png") no-repeat;
			background-size: 100% 100%;
		}
	}
	
	&_award {
		padding: 0 rem(25);
		margin-top: rem(20);
		
		&_tit {
			text-align: center;
			color: #fff;
			font-size: rem(14);
			background: url("images/car_alert_award@2x.png");
			background-size: 100% 100%;
			margin: rem(10) 0;
			height: rem(30);
			line-height: rem(30);
		}
		
		&_list {
			@include scrollbox('a');
		}
		
		&_item {
			img {
				width: rem(60);
				height: rem(60);
				border: 2px solid #333;
				margin-right: rem(5);
			}
		}
	}
}

.car_chose {
	&_tit {
		margin: rem(76/2) auto rem(30/2);
		font-size: rem(20);
		color: #523131;
		text-align: center;
		@include line;
	}
	
	&_item {
		color: #fff;
	}
	
	&_role {
		width: rem(560/2);
		height: rem(194/2);
		margin: rem(3) auto;
		padding: rem(24) 0 rem(24) rem(260/2);
		box-sizing: border-box;
		@include line;
		
		&_name {
			width: rem(280/2);
			font-size: rem(20);
			@include line;
		}
		
		&_des {
			width: rem(280/2);
			font-size: rem(12);
			margin-top: rem(3);
			@include line;
		}
		
		&:nth-child(1) {
			background: url("images/car_rolebg_lb@2x.png") no-repeat;
			background-size: 100% 100%;
		}
		&:nth-child(2) {
			background: url("images/car_rolebg_gy@2x.png") no-repeat;
			background-size: 100% 100%;
		}
		&:nth-child(3) {
			background: url("images/car_rolebg_zf@2x.png") no-repeat;
			background-size: 100% 100%;
		}
	}
}

.car_guide {
	&_tip {
		position: absolute;
		right: rem(10);
		top: rem(90);
		font-size: rem(16);
		text-align: center;
		width: rem(380/2);
		height: rem(50);
		background: url("images/car_guide_dia@2x.png") no-repeat;
		background-size: 100% 100%;
		line-height: rem(120/2);
		color: #fff;
		padding: 0 rem(10);
		box-sizing: border-box;
		@include line;
	}
	&_countdown {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: rem(100);
		color: #ffbf36;
		text-align: center;
	}
	
	&_hand {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		&_icon {
			width: rem(116/2);
			height: rem(116/2);
			background: url("images/car_guide_hand@2x.png") no-repeat;
			background-size: 100% 100%;
			margin: 0 auto rem(8);
		}
		
		&_con {
			font-size: rem(14);
			color: #fff;
			text-align: center;
			@include line;
		}
	}
	&_props {
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(150);
		color: #fff;
		font-size: rem(12);
		box-sizing: border-box;
		
		li {
			position: relative;
			padding-left: rem(50);
			height: rem(45);
			line-height: rem(45);
			
			span {
				position: absolute;
				left: 0;
			}
		}
		
		&_quick {
			span {
				display: inline-block;
				width: rem(98/2);
				height: rem(128/2);
				transform: scale(.5);
				background: url("images/car_prop2_tyre@2x.png") no-repeat;
				background-size: 100% 100%;
				top: rem(-10);
			}
			
			i {
				color: #129979;
			}
		}
		&_slow {
			span {
				display: inline-block;
				width: rem(98/2);
				height: rem(92/2);
				transform: scale(.5);
				background: url("images/car_prop1_stone@2x.png") no-repeat;
				background-size: 100% 100%;
				top: rem(-3);
			}
			
			i {
				color: #ff3f63;
			}
		}
		&_bomb {
			span {
				display: inline-block;
				width: rem(108/2);
				height: rem(154/2);
				transform: scale(.5);
				background: url("images/car_prop3_bomb@2x.png") no-repeat;
				background-size: 100% 100%;
				top: rem(-22);
			}
			
			i {
				color: #ff3f63;
			}
		}
	}
}

/* 游戏画布
---------------------------------------- */
.car_gameView {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	max-width: 640px;
}

.hide {
	display: none;
}

.car_guide_tips {
	position: absolute;
	right: rem(10);
	top: rem(130);
	font-size: rem(16);
	text-align: center;
	width: rem(380/2);
	height: rem(50);
	background: url("images/car_guide_dia@2x.png") no-repeat;
	background-size: 100% 100%;
	line-height: rem(120/2);
	color: #fff;
	padding: 0 rem(10);
	box-sizing: border-box;
	@include line;
}